#main {
    background-image: url("../Images/scrolling-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}