#main{
    background-image: url("../Images/scrolling-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#login-box{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: white;
    border: 20px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-button{
    text-align: center;
}

#login-button{
    text-align: center;
    font-size: 100%;
    background-color:royalblue;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 62px;
    text-decoration: none;
    display: inline-block;
}