#main{
    background-image: url("../Images/scrolling-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#main{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  
}

#container{
    background-color: whitesmoke;
    opacity: 0.85;
    border-radius: 10px;
    margin-top: 10cm;
    padding-top: 0.5cm;
    padding-bottom: 2cm;
}