#main{
    background-image: url("../Images/scrolling-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#main{
    margin: auto;
    width: 40%;
    padding: 10px;
    text-align: center;
  
}

#container{
    background-color: whitesmoke;
    opacity: 0.85;
    border-radius: 5%;
    padding-top: 0.5cm;
    padding-right: 2cm;
    padding-left: 2cm;
    padding-bottom: 2cm;
}

#small-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#small-container label{
    text-align: right;
    clear: both;
    float: left;
}

#small-container p{
    margin: 0;
    float: left;
    margin-left: 5px;
}

#small-container button{
    float: right;
}

/*#small-container p{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
}*/